* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 0.75em;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    background: url(images/bg.png) no-repeat;
    background-size: 100%;
    min-height: 100vh; /* Changed from height to min-height */
}

.container{
    padding: 10px 10%;
}

header {
    width: 100%;
    height: 12vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 85px;
    z-index: 10;
    margin-top: 15px;
}

section {
    position: relative;
    width: 100%;
    height: 10vh; /* Adjusted to fit the new wave height */
    overflow: hidden;
}

section .wave {
    position: absolute;
    rotate: 180deg;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Reduced height for smaller amplitude */
    background: url(images/wave.png);
    background-size: 500px 50px; /* Adjusted to match the new height */
}

section .wave.wave1 {
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 500px;
    }
}

.parallax {
    position: relative;
    width: 100%;
    height: 78vh; /* Adjusted to fill the remaining height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parallax img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

.object {
    transition: transform 0.3s ease-out;
}

section.wave-section {
    position: relative;
    width: 100%;
    height: 10vh; /* Adjust height as needed */
    overflow: hidden;
    background-color: #ffc500; /* Same color as .discontrolled */
}

section.wave-section .wave {
    position: absolute;
    rotate: 0deg;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust height as needed */
    background: url(images/wavepurple.png);
    background-size: 500px 50px;
    rotate: 180deg;
}

section.wave-section .wave.wave1 {
    animation: animate2 10s linear infinite;
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -500px;
    }
}

.discontrolled {
    width: 100%;
    padding: 20px;
    background-color: #ffc500;  
}

.discontrolled-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.discontrolled-playdate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    filter: drop-shadow(0 0 20px #00000090);
}

.about-discontrolled {
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.discontrolled-jam {
    width: 100%;
    padding: 20px;
    background-color: #000000;
}

.screenshots {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 40px;
    margin-top: 60px;
}

.screenshots img {
    width: 300px;
    border-radius: 10px;
    border: 4px solid #ffffff;
}

.press {
    margin-top: 30px;
    padding: 15px 0;
    text-align: center;
}

.press img {
    width: 300px;
}

.disabled {
    filter: brightness(50%);
    cursor: not-allowed;
}

section.wave-section-yellow {
    position: relative;
    width: 100%;
    height: 10vh; /* Adjust height as needed */
    overflow: hidden;
    background-color: #000000; /* Same color as .discontrolled */
}

section.wave-section-yellow .wave {
    position: absolute;
    rotate: 0deg;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust height as needed */
    background: url(images/waveyellow.png);
    background-size: 500px 50px;
    rotate: 180deg;
}

section.wave-section-yellow .wave.wave1 {
    animation: animate2 10s linear infinite;
}

@keyframes animate3 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -500px;
    }
}
